html, body {
  font-family: 'Roboto', sans-serif;
}
  .row {
    margin: 0;
  }
    .boxContainer > div {
      height: 80px;
      margin-top: 10px;
      padding: 5px;
      color: #fff;
    }
      p {
        font-size: 24px;
      }
      .success {
        background-color: #3c763d;
      }
      .info {
        background-color: #31708f;
      }
        span {
          font-size: 20px;
        }
        input[type="text"] {
          border-width: 3px;
          width: 20%;
        }
    .label, .label span {
      font-size: 16px;
    }